<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" >
<head th:replace="base :: head" >
    <meta charset="UTF-8" />
    <title>Potluck Application</title>
</head>
<body>
    <nav th:replace="base :: nav"></nav>
    <div class="container">
        <br /><br />
        <div class="jumbotron">
            <h1>Potluck 2017!</h1>
            <p>Sign up now to be inclucded...</p>
            <p><a class="btn btn-primary btn-lg" href="/add" role="button">Sign up</a></p>
        </div>
    </div>
</body>
</html>