<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" >
<head th:replace="base :: head" >
    <meta charset="UTF-8" />
    <title>Home Page</title>
</head>
<body>
<nav th:replace="base :: nav"></nav>
<div class="container">
    <br /><br />
    <div class="jumbotron">
        <h1>2017 Chef Class at MC</h1>
        <p>You can Register for our Fall program</p>
        <img src="cooker.jpg" align="left">
        <img src="cook.jpg" align="right">
        <p><a class="btn btn-primary btn-lg" href="/add" role="button">Register</a></p>
    </div>
</div>
</body>
</html>